
.form-Container {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  &__box{
    width:400px;
    background-color:white;
    padding:30px;
  }
  h1,h3{
    padding-bottom:10px
  }
}

.form-input{
margin-bottom:10px;
&__box{
  padding:5px;
  width:100%;
}
&__error{
color:rgb(66, 5, 5);
padding:5px;
background-color:  #d68188;
border-color: #f5c6cb;

}
}

.dropDown{
  margin-bottom:10px;
  &__box{
    padding:5px;
    width:100%;margin-bottom:9px;
  }
  &__error{
  color:rgb(66, 5, 5);
  padding:5px;
  background-color:  #d68188;
  border-color: #f5c6cb;
  
  }
  }

.btn_forgotPswd{
  margin-left: 28px;
}
