@import './var';
@import './normalize';
@import './form';
@import './nav';
@import './btn';
@import './table';
@import './dailogueBox';
.row{
    display:flex;
    margin:0 -5px;
    &__col-1{
        flex:1;
        padding:0 5px;
    }
}
.container{
    width:1024px;
    margin:0 auto;
    
}
